
  
  .text-input {
    width: -webkit-calc(70% - 20px);
    width: -moz-calc(70% - 20px);
    width: calc(70% - 20px);
    float: left;
    bottom: 0;
   
  }

  .text-input-box{
    height: 75vh;
    display:block;
  }



  

  